@model List<MyProject.Models.Order>

@{
    ViewBag.Title = "AllShipment";
    Layout = "~/Areas/AdminPanel/Views/Shared/_adminLayout.cshtml";
}

@*<div class="panel panel-default">
        <a href="#page-stats" class="panel-heading collapsed" data-toggle="collapse">Search</a>
        <div id="page-stats" class="panel-collapse panel-body collapse">
            <div class="row">

                <div class="btn-toolbar list-toolbar">

                    <table style=" margin: 0 auto;">
                        <tr>
                            <td style="padding: 2px;"><div class="form-group">@Html.TextBoxFor(x => x.Product.Code, new { @placeholder = "Site Code", @class = "form-control" })</div></td>
                            <td style="padding: 2px;"><div class="form-group">@Html.DropDownListFor(x => x.Product.Size, Model.Product.listSizes, "Select Size", new { @class = "form-control" })</div></td>
                            <td style="padding: 2px;"><div class="form-group">@Html.DropDownListFor(x => x.Product.Category, Model.Product.listCategories, "Select Category", new { @class = "form-control" })</div></td>
                            <td style="padding: 2px;"><div class="form-group">@Html.TextBoxFor(x => x.Product.Area, new { @placeholder = "Area", @class = "form-control" })</div></td>
                        </tr>
                        <tr>
                            <td style="padding: 2px;"><div class="form-group">@Html.TextBoxFor(x => x.Product.Rent, new { @placeholder = "Rent", @class = "form-control" })</div></td>
                            <td style="padding: 2px;"><div class="form-group">@Html.DropDownListFor(x => x.Product.StatusId, Model.Product.listStatus, "Select Status", new { @class = "form-control" })</div></td>
                            <td style="padding: 2px;"><div class="form-group">@Html.DropDownListFor(x => x.Product.CityId, Model.Product.listCity, "Select City", new { @class = "form-control" })</div></td>
                            <td style="padding: 2px;"><div class="form-group">@Html.DropDownListFor(x => x.Product.AssetCategory, Model.Product.listAssetCategory, "Select Asset Category", new { @class = "form-control" })</div></td>
                            <td style="padding: 2px;"><div class="form-group"><button class="btn btn-primary" style="height: 32px;margin-right: 25px;" type="submit" onclick="SearchAll();">Search</button></div></td>
                        </tr>
                    </table>
                    <div class="btn-group">
                    </div>
                </div>


            </div>
        </div>
    </div>*@

<div style="
         text-align: right;
         color: green;
         font-size: larger;">
    @ViewBag.Message
</div>

<table class="table">
    <thead>
        <tr>
            <th>H. Airway Bill #</th>
            <th>Shipper</th>
            <th>Consignee</th>
            <th>Port Of Landing</th>
            <th>Port Of Deliver</th>
            <th>COD</th>
            <th>ETA </th>
            <th>ETD</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td style="font-size: 11px">@item.AirWayBillNumberNumber</td>
                <td style="font-size: 11px">@item.Shipper_SenderNameAddress</td>
                <td style="font-size: 11px">@item.Consignee_ReceiverNameAddress</td>
                <td style="font-size: 11px">@item.PortOfLanding</td>
                <td style="font-size: 11px">@item.ProtOfDeliver</td>
                <td style="font-size: 11px">@item.COD</td>
                <td style="font-size: 11px">@item.ETA</td>
                <td style="font-size: 11px">@item.ETD</td>
                <td style="font-size: 11px">@item.CurrentStatus</td>

                <td>
                    <a href="/AdminPanel/Shipment/NewShipment/@item.OrderId"><i class="fa fa-pencil"></i></a>
                    <a data-toggle="modal" href="/AdminPanel/Shipment/DeleteShipment/@item.OrderId" role="button"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>

</p>

@*<ul class="pagination">
    <li><a href="#" onclick="SearchWithPageing(1)">&laquo;</a></li>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li><a href="#" onclick="SearchWithPageing(@i);">@i</a></li>
    }
    <li><a href="#" onclick="SearchWithPageing(@Model.TotalPages);">&raquo;</a></li>
</ul>*@

