@model MyProject.Models.TrackingOrderViewModel

@{
    ViewBag.Title = "AllShipment";
    Layout = "~/Areas/AdminPanel/Views/Shared/_adminLayout.cshtml";
}

<div class="header">
   
    <h1 class="page-title">Shipments</h1>
    <ul class="breadcrumb">
        <li><a href="#">Home</a> </li>
        <li class="active">All Shipments</li>
    </ul>
</div>

<div class="panel panel-default">
    <a href="#page-stats" class="panel-heading collapsed" data-toggle="collapse">Search</a>
    <div id="page-stats" class="panel-collapse panel-body collapse">
        <div class="row">
            <div class="btn-toolbar list-toolbar">

                <table style=" margin: 0 auto;">
                    <tr>
                        <td style="padding: 2px;"><div class="form-group">@Html.TextBoxFor(x => x.Order.AirWayBillNumberNumber, new { @placeholder = "Air Way Bill Number", @class = "form-control AirBillNumber" })</div></td>
                        <td style="padding: 2px;"><div class="form-group"><button id="btnSearch" class="btn btn-primary" style="height: 32px;margin-right: 25px;" type="submit">Search</button></div></td>
                    </tr>
                </table>
                <div class="btn-group">
                </div>
            </div>

        </div>
    </div>
</div>

<div id="lblResult" style="
         text-align: right;
         color: green;
         font-size: larger;">
    @ViewBag.Message
</div>

<table class="table searchShipments">
    <thead>
        <tr>
            <th width="10%">Tracking Number #</th>
            <th width="15%">Shipper</th>
            <th width="15%">Consignee</th>
            <th width="10%">Port Of Loading</th>
            <th width="10%">Port Of Deliver</th>
            <th>COD</th>
            <th>ETA </th>
            <th>ETD</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Orders != null)
        {
            foreach (var item in Model.Orders)
            {
                <tr>
                    <td style="font-size: 11px">@item.AirWayBillNumberNumber</td>
                    <td style="font-size: 11px">@item.Shipper_SenderNameAddress</td>
                    <td style="font-size: 11px">@item.Consignee_ReceiverNameAddress</td>
                    <td style="font-size: 11px">@item.PortOfLanding</td>
                    <td style="font-size: 11px">@item.ProtOfDeliver</td>
                    <td style="font-size: 11px">@item.COD</td>
                    <td style="font-size: 11px">@item.ETA</td>
                    <td style="font-size: 11px">@item.ETD</td>
                    <td>
                        <a href="/AdminPanel/Tracking/AddTrackHistory/@item.OrderId"><i class="fa fa-history  fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                        <a href="/AdminPanel/Shipment/NewShipment/@item.OrderId"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                        <a data-toggle="modal" href="/AdminPanel/Shipment/DeleteShipment/@item.OrderId" role="button"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>


@*<ul class="pagination">
        <li><a href="#" onclick="SearchWithPageing(1)">&laquo;</a></li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li><a href="#" onclick="SearchWithPageing(@i);">@i</a></li>
        }
        <li><a href="#" onclick="SearchWithPageing(@Model.TotalPages);">&raquo;</a></li>
    </ul>*@


<script type="text/javascript">
    $(document).ready(function () {

        $("#btnSearch").click(function (e) {

            var URL = "/AdminPanel/Shipment/SearchByAirWayBillNumber";
            var AirBillNumber = $(".AirBillNumber").val();

            if (AirBillNumber == null || AirBillNumber == "")
                AirBillNumber = 0;

            var model = { airWayBillNumberNumber: AirBillNumber };

            $.post(URL, model, function (res) {
                $(".searchShipments tbody").html(res);
            }).fail(function (response) {
                $("#lblResult").val("Error Occured, Please contact admin");
                console.log(response);
            });
        });

    })
</script>

