@model MyProject.Models.Order

@{
    ViewBag.Title = "NewShipment";
    Layout = "~/Areas/AdminPanel/Views/Shared/_adminLayout.cshtml";
}

<div class="header">


    @if (Model == null || Model.OrderId == null || Model.OrderId == 0)
    {
        <h1 class="page-title">Add Shipment</h1>

    }
    else
    {
        <h1 class="page-title">Update Shipment</h1>
    }
    <ul class="breadcrumb">
        <li><a href="#">Home</a> </li>
        <li class="active">Shipment Detail</li>
    </ul>
</div>

<ul class="nav nav-tabs">
    @if (Model == null || Model.OrderId == null || Model.OrderId == 0)
    {
        <li class="active"><a href="#home" data-toggle="tab">New Shipment</a></li>
    }
    else
    {
        <li class="active"><a href="#home" data-toggle="tab">Update Shipment</a></li>
    }
</ul>

<div id="lblResult" style="
         text-align: right;
         color: green;
         font-size: larger;">
    @ViewBag.Message
</div>

<div class="row">
    @using (Html.BeginForm("NewShipment", "Shipment"))
    {
        @Html.HiddenFor(x => x.OrderId)
        <div class="col-md-6">
            <br>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="home">
                    <div id="tab">
                        <div class="form-group">
                            <label>Tracking Number #</label>
                            @Html.TextBoxFor(x => x.AirWayBillNumberNumber, new { @class = "form-control txtAirWayBillNumberNumber", MaxLength = "50" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Shipper</label>
                            @Html.TextBoxFor(x => x.Shipper_SenderNameAddress, new { @class = "form-control", MaxLength = "50" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>Consignee</label>
                            @Html.TextBoxFor(x => x.Consignee_ReceiverNameAddress, new { @class = "form-control", MaxLength = "50" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>Port of Deliver</label>
                            @Html.TextBoxFor(x => x.ProtOfDeliver, new { @class = "form-control", MaxLength = "50" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>Port of Loading</label>
                            @Html.TextBoxFor(x => x.PortOfLanding, new { @class = "form-control", MaxLength = "50" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>Vessal Name / Flight No.</label>
                            @Html.TextBoxFor(x => x.VesselNameAndVOY, new { @class = "form-control", MaxLength = "50" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>Carrier</label>
                            @Html.TextBoxFor(x => x.Carrier, new { @class = "form-control", MaxLength = "50" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>No. Of Packages</label>
                            @Html.TextBoxFor(x => x.NumberOfEquipments, new { @class = "form-control", MaxLength = "50" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>Commodity</label>
                            @Html.TextBoxFor(x => x.Commodity, new { @class = "form-control", MaxLength = "50" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>Weight</label>
                            @Html.TextBoxFor(x => x.Weight, new { @class = "form-control", MaxLength = "50" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>Volume</label>
                            @Html.TextBoxFor(x => x.Volume, new { @class = "form-control", MaxLength = "50" })
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <br>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="home">
                    <div id="tab">

                        <div class="form-group col-md-6">
                            <label>MAWB#</label>
                            @Html.TextBoxFor(x => x.MAWB, new { @class = "form-control", MaxLength = "20" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>HAWB # </label>
                            @Html.TextBoxFor(x => x.AWB_Number_AirWayBill, new { @class = "form-control", MaxLength = "20" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>MBL #</label>
                            @Html.TextBoxFor(x => x.MBL_Container_Number, new { @class = "form-control", MaxLength = "20" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>HBL#</label>
                            @Html.TextBoxFor(x => x.HBL, new { @class = "form-control", MaxLength = "20" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>COD</label>
                            @Html.TextBoxFor(x => x.COD, new { @class = "form-control txtDate", MaxLength = "10", autocomplete = "off" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>ETD</label>
                            @Html.TextBoxFor(x => x.ETD, new { @class = "form-control txtDate", MaxLength = "10", autocomplete = "off" })
                        </div>

                        <div class="form-group col-md-6">
                            <label>ETA</label>
                            @Html.TextBoxFor(x => x.ETA, new { @class = "form-control txtDate", MaxLength = "10", autocomplete = "off" })

                        </div>

                        <div class="btn-toolbar list-toolbar col-md-12">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save </button>
                        </div>

                        <div class="btn-toolbar list-toolbar col-md-12">
                            @Html.ValidationSummary(false, "", new { @class = "ColorRed" })
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>


<style>
    .ColorRed {
        color: red;
    }
</style>
<script src="~/Scripts/jquery.mask.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.txtAirWayBillNumberNumber').mask('AAA-00000-00');
    })
</script>